<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>club_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>club_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>club_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>club_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>club_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,131},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>club_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>club_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>club_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,260},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>club_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,131},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>club_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>club_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>club_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>club_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,389},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>diamond_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,260},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>diamond_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,131},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>diamond_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,131},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>diamond_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,647},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>diamond_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,518},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>diamond_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,389},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>diamond_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,260},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>diamond_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,260},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>diamond_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>diamond_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,647},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>diamond_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,518},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>diamond_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,389},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>diamond_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,389},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>heart_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,905},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>heart_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,776},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>heart_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,647},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>heart_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,518},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>heart_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,518},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>heart_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>heart_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,905},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>heart_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,776},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>heart_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,647},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>heart_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,647},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>heart_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1163},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>heart_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1292},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>heart_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1034},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>king_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,905},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>king_little.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,776},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>spade_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,776},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>spade_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1163},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>spade_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1292},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>spade_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1034},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>spade_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,905},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>spade_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,905},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>spade_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1163},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>spade_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1292},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>spade_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1034},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>spade_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1034},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>spade_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1163},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>spade_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1163},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>spade_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1292},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>deck.png</string>
            <key>size</key>
            <string>{497,1421}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0400bf3f87d7bac203ce849cab580be6:2e929d028ee27e4684aa602f4a9bc578:a93842fab2177a84edff542986cb0054$</string>
            <key>textureFileName</key>
            <string>deck.png</string>
        </dict>
    </dict>
</plist>
